* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.vertical-line {
  width: 1px;
  height: initial;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 0;
  border-left: 1px solid #969696;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  color: #003CFF;
  font-size: 2.5rem;
}

h2 {
  color: #435099;
  font-size: 1.2rem;
}

p {
  font-size: 1.0rem;
}

.row {
  margin-right: initial;
  margin-left: initial;
}

@media screen and (max-width: 900px) {
  .vertical-line {
    display: none;
  }
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: initial;
}

main {
  position: relative;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input :focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(128, 0, 199, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(128, 0, 199, 0.25);
}

.flex-responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media screen and (max-width: 900px) {
  .flex-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .container {
    max-width: 960px;
  }
}

.navbar {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
  top: 0;
  z-index: 1000;
}

.bg-light {
  background-color: #eef0fd !important;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}

.mr-auto {
  margin-right: auto !important;
}

.navbar-nav .button-register:hover,
.navbar-light .navbar-nav .button-register:focus {
  color: white;
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.navbar-nav .nav-link.button-register {
  padding: 7px 13px;
  background: #003cff;
  background: -webkit-gradient(linear, left top, right top, from(#003cff), color-stop(55%, #435099), to(#553390));
  background: linear-gradient(to right, #003cff 0%, #435099 55%, #553390 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003cff', endColorstr='#553390',GradientType=1 );
  border-radius: 9px;
  color: white;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.navbar-nav .button-register:hover {
  color: #e2f1ff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.dropdown-menu a {
  color: #2d00ff;
}

.dropdown-item:active {
  text-decoration: none;
  background-color: #d0d0d0;
}

.navbar-brand {
  color: #404040;
  margin-left: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand > img {
  margin-right: inherit;
}

nav {
  font-family: "Montserrat Light", "DejaVu Sans", sans-serif;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.collapse:not(.show) {
  display: none;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .navbar-nav .dropdown-menu {
    position: absolute;
  }

  .navbar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .navbar-toggler {
    display: none;
  }

  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .navbar-nav .nav-link {
    display: block;
    padding: 0.5rem 0.5rem;
  }
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 0.25rem;
}

.navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.banner {
  margin-top: -35px;
  background-image: url("/img/banner.png");
  height: 47vh;
  position: relative;
  z-index: -10;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(255, 255, 255, 0.13)), to(white));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.13) 10%, white 100%);
}

.register-bloc {
  padding: 15px;
  max-width: 350px;
  width: 40%;
}

.register-bloc input,
.register-bloc textarea {
  color: #333333;
  border-radius: 9999px;
  height: 45px;
}

.register-bloc input::-webkit-input-placeholder {
  color: #BBBBBB;
}

.register-bloc input:-ms-input-placeholder {
  color: #BBBBBB;
}

.register-bloc input::-ms-input-placeholder {
  color: #BBBBBB;
}

.register-bloc input::placeholder {
  color: #BBBBBB;
}

.register-bloc button {
  color: white;
  border-radius: 9999px;
  height: 50px;
  background: #003cff;
  background: -webkit-gradient(linear, left top, right top, from(#003cff), color-stop(55%, #435099), to(#553390));
  background: linear-gradient(to right, #003cff 0%, #435099 55%, #553390 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003cff', endColorstr='#553390',GradientType=1 );
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 100%;
}

.register-bloc button:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.register-bloc-container {
  position: -webkit-sticky;
  position: sticky;
  top: calc(20% + 90px);
  -webkit-transform: translateY(-33%);
          transform: translateY(-33%);
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px -2px 33px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -2px 33px -8px rgba(0, 0, 0, 0.75);
}

.register-bloc h2 {
  line-height: 1.9rem;
  font-weight: 600;
  font-size: 2rem;
  background: -webkit-linear-gradient(right, #003CFF, #553390);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-text {
  padding: 20px;
  width: 60%;
}

.home-text p {
  margin-bottom: 4rem;
}

.home-text h1 {
  background: -webkit-linear-gradient(right, #003CFF, #553390);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-home {
  width: 80%;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  margin-top: -50px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.comparison {
  border-radius: 7px;
  background-color: #ececec;
  margin-bottom: 20px;
}

.comparison h1 {
  font-size: 1.5rem;
  text-align: center;
}

.comparison p {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
}

.comparison img {
  width: 150px;
  margin: 0 auto;
  display: block;
}

.student,
.boss {
  padding: 30px;
}

.button-to-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35vh;
}

.button-to-search > a {
  color: white;
  background: aqua;
  padding: 15px 30px;
  border-radius: 9999px;
  background: -webkit-gradient(linear, left top, right top, from(#003cff), color-stop(55%, #435099), to(#553390));
  background: linear-gradient(to right, #003cff 0%, #435099 55%, #553390 100%);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.button-to-search > a:hover {
  color: white;
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.button-to-search > a i {
  margin-left: 0.5rem;
}

@media screen and (max-width: 900px) {
  .register-bloc-container {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
  }

  .home-text {
    width: 100%;
  }

  .register-bloc {
    max-width: initial;
    width: 100%;
  }

  .main-home {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.search-intro {
  width: 100%;
  text-align: center;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-intro h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.search-input {
  width: 100%;
}

.search-input .search-box {
  margin: 0 auto;
  padding: 6px 20px 6px;
  width: 60%;
  max-width: 600px;
  border-radius: 4px;
  font-size: 1.3rem;
  font-weight: 100;
  border: none;
  display: block;
}

.search-container {
  width: 100%;
  position: relative;
}

.search-container::before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: -webkit-gradient(linear, left top, right top, from(#003cff), to(#553390));
  background: linear-gradient(to right, #003cff 0%, #553390 100%);
  width: calc(60% + 10px);
  max-width: 610px;
  height: 120%;
  z-index: -10;
  border-radius: 6px;
}

.ais-search-box--reset-wrapper {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  position: absolute;
  right: 17%;
  top: 29%;
}

.ais-search-box-reset {
  cursor: pointer;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: initial;
  border: initial;
  color: initial;
  width: 25px;
  fill: #bfc7d8;
}

.studentcard {
  border-radius: 10px;
  background-color: #f7f7f7;
  position: relative;
  width: 40%;
  max-width: 400px;
  height: 300px;
  margin: 1rem 0.8rem;
  cursor: pointer;
  -webkit-box-shadow: 1px 0px 18px -6px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 0px 18px -6px rgba(0, 0, 0, 0.75);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.studentcard:hover {
  -webkit-box-shadow: 1px 0px 18px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 0px 18px -2px rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.studentcard > .screenshot {
  width: 100%;
  height: 55%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px 10px 0 0;
  -webkit-filter: brightness(0.8) saturate(1.2);
          filter: brightness(0.8) saturate(1.2);
}

.studentcard .portrait {
  border-radius: 9999px;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
  margin: auto 1.3rem;
}

.studentcard > .informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 46%;
  width: 100%;
  top: 54%;
  left: 0;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0px -9px 22px -11px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -9px 22px -11px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.studentcard:hover > .informations {
  -webkit-box-shadow: 0px -9px 34px -11px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -9px 34px -11px rgba(0, 0, 0, 0.75);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.studentcard .card-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card-text {
  color: black;
  padding-right: 10px;
  line-height: 0.8;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 10%;
}

.card-text h3 {
  font-family: inherit;
  line-height: initial;
  color: inherit;
  font-size: initial;
  margin: 0;
}

.card-text small {
  color: #596662;
}

.card-text em {
  font-style: italic;
  margin-right: 0.1rem;
}

.resultscontainer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 50px auto;
}

.entries {
  width: 70%;
}

.searchresults {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.facets {
  width: 25%;
  min-width: 280px;
  -webkit-box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.75);
  padding: 10px;
  position: relative;
  border-radius: 7px;
}

.facets::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: -webkit-gradient(linear, left top, right top, from(#003cff), to(#553390));
  background: linear-gradient(to right, #003cff 0%, #553390 100%);
  border-radius: 7px 7px 0 0;
}

.facets > div {
  margin-bottom: 2rem;
}

.facet-title {
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem 0.5rem;
}

.ais-refinement-list--checkbox {
  display: none;
}

.ais-refinement-list--label {
  margin: 0 0.5rem;
  color: #6473a5;
}

.ais-refinement-list--label:hover,
.ais-menu--link:hover,
.ais-menu--item__active .ais-menu--link,
.ais-hierarchical-menu--list .facet-item.active:hover,
.ais-hierarchical-menu--list .facet-item.active {
  color: #6487ff;
}

.ais-refinement-list--item__active .ais-refinement-list--label {
  color: #395bff;
}

.ais-refinement-list--item__active .ais-refinement-list--label:hover,
.ais-menu--item__active .ais-menu--link:hover,
.ais-hierarchical-menu--list .facet-item.active:hover {
  text-decoration: line-through;
  color: #1a38ff;
}

.ais-refinement-list--count,
.ais-hierarchical-menu--count,
.ais-menu--count,
.ais-star-rating--count,
.ais-toggle--count {
  position: relative;
  color: #6473a5;
  padding: 0px 10px;
  border-radius: 99px;
  background-color: #f0f1f6;
  margin-left: 0.2rem;
  font-size: 0.9rem;
}

.ais-refinement-list--label,
.ais-hierarchical-menu--list .facet-item,
.ais-menu--link,
.ais-price-ranges--item {
  cursor: pointer;
  line-height: 1.5em;
}

.ais-current-refined-values {
  position: relative;
}

.ais-show-more {
  font-weight: bold;
  opacity: .7;
  padding-left: 4px;
  position: relative;
  line-height: 25px;
  font-size: .9em;
  cursor: pointer;
  color: #6473a5;
}

.ais-show-more:hover,
.ais-show-more:focus {
  opacity: 1;
}

.ais-show-more::before {
  font-family: "Font Awesome 5 Free";
  font-style: inherit;
  font-weight: inherit;
  text-decoration: inherit;
  display: inline-block;
  position: relative;
  content: '';
  margin: 0 5px 0 0;
}

.ais-show-more__inactive::before {
  content: "\F107";
}

.ais-show-more__active::before {
  content: "\F106";
}

.algolia-logo {
  height: 20px;
}

.algolia-link {
  margin-top: 5px;
  position: absolute;
  right: 20%;
}

.algolia-link-container {
  position: relative;
}

.search-pagination {
  margin-top: 60px;
}

.search-pagination ul {
  font-size: 0;
  list-style-type: none;
  text-align: center;
}

.search-pagination li {
  font-size: 14px;
  display: inline;
}

.search-pagination a,
.search-pagination span {
  padding: 8px 12px;
  text-decoration: none;
  color: #000;
  border: 1px solid #eee;
}

.search-pagination a:hover {
  background: #f5f5f5;
}

.search-pagination li:first-child a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.search-pagination li:last-child a {
  border-right: 1px solid #eee;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-pagination li.ais-pagination--item__active a {
  color: white;
  border-color: #3164ff;
  background: #3164ff;
}

.search-pagination li.ais-pagination--item__active a:hover {
  cursor: default;
}

.search-pagination li.ais-pagination--item__disabled a,
.search-pagination li.ais-pagination--item__disabled span {
  background-color: #eaeaea;
  border-color: #bbb;
  color: #888;
  cursor: not-allowed;
}

.search-pagination li.ais-pagination--item__disabled a:hover {
  background: none;
}

.embed {
  display: none;
  position: absolute;
  height: calc(100vh - 60px - 0.9em);
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1000;
}

.flex-embed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
  width: 100%;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.left-panel {
  width: 25vw;
  background-color: white;
  -webkit-box-shadow: 15px 0px 28px -15px rgba(0, 0, 0, 0.75);
          box-shadow: 15px 0px 28px -15px rgba(0, 0, 0, 0.75);
  z-index: 10;
  position: relative;
  -webkit-transition: 1s all;
  transition: 1s all;
  padding: 1.2rem;
}

.left-panel.retracted {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.frame-panel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: none;
  background: linear-gradient(135deg, #003cff 15%, #553390 56%);
  background-size: 400% 400%;
  -webkit-animation: loadingResume 10s ease infinite;
          animation: loadingResume 10s ease infinite;
}

.frame-panel .retracted {
  width: 100%;
  -webkit-transition: 1s -webkit-transform, 1s -webkit-box-shadow;
  transition: 1s -webkit-transform, 1s -webkit-box-shadow;
  transition: 1s transform, 1s box-shadow;
  transition: 1s transform, 1s box-shadow, 1s -webkit-transform, 1s -webkit-box-shadow;
}

.retract {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  height: 50px;
  width: 30px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 0 5px 5px 0;
}

.retract::after {
  font-family: "Font Awesome 5 Free";
  font-style: inherit;
  font-weight: 900;
  font-size: 1.5rem;
  text-decoration: inherit;
  display: block;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-60%, -50%);
          transform: translate(-60%, -50%);
}

.retract__active::after {
  content: "\F104";
}

.retract__inactive::after {
  content: "\F105";
}

.close-embed::after {
  font-family: "Font Awesome 5 Free";
  font-style: inherit;
  font-weight: 900;
  font-size: 2.5rem;
  text-decoration: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 18px;
  right: 18px;
  content: "\F00D";
  cursor: pointer;
  line-height: 1.7rem;
  width: 55px;
  height: 55px;
  border-radius: 9999px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 31px -4px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 31px -4px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.close-embed:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
}

.flex-embed-expanded {
  width: 100%;
}

.flex-embed-retracted {
  width: 125vw;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

@-webkit-keyframes loadingResume {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes loadingResume {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.student-name {
  font-size: 2rem;
}

.internship-preference,
.internship-duration {
  font-size: 1.2rem;
}

.internship-preference > .name-category,
.internship-duration > .name-category {
  color: #3a54ab;
}

.description {
  margin-top: 3rem;
  line-height: 1.3;
}

.resume-static {
  color: white;
  display: block;
  position: absolute;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#003cff), to(#553390));
  background: linear-gradient(to right, #003cff 0%, #553390 100%);
  width: 85%;
  padding: 10px 0;
  border-radius: 40px;
  bottom: 5%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.resume-static:hover {
  color: white;
  text-decoration: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-device-width: 900px) {
  .entries {
    width: 100%;
  }

  .facets {
    display: none;
  }

  .resultscontainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .studentcard {
    width: 100%;
  }

  .left-panel {
    width: 90vw;
  }

  .flex-embed-retracted {
    width: 190vw;
    -webkit-transform: translateX(-47.4%);
            transform: translateX(-47.4%);
  }

  .flex-embed-expanded {
    width: 190vw;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  margin: 0 auto;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.form-group {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  border-radius: 0.25rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card {
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  margin: 0;
}

.form input:focus,
.form textarea:focus,
.form button:focus {
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

textarea {
  overflow: auto;
  resize: vertical;
}

.form-element {
  margin-bottom: 1rem;
}

.content {
  margin: 20px;
  width: 100%;
}

.button {
  margin-top: 1.5rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #6500c7;
  border: 1px solid #6500c7;
  cursor: pointer;
  width: 100%;
}

.button-shadow:focus,
.button-shadow:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(101, 0, 200, 0.83);
          box-shadow: 0 0 0 0.2rem rgba(101, 0, 200, 0.83);
}

.button-short {
  width: initial;
  margin-top: initial;
}

.btn-group {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group:not(:last-child) > .btn,
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active {
  background-image: none;
}

.btn-group > .btn:first-child {
  margin-left: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn:last-child {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 1;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-group-toggle > .btn,
.btn-group-toggle > .btn-group > .btn {
  width: 100%;
  margin-bottom: 0;
}

.btn-group > .btn {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.btn-group-toggle > .btn input[type="radio"],
.btn-group-toggle > .btn-group > .btn input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.active {
  background-color: #402698;
  border-color: #402698;
}

.radio-color {
  color: white;
  background-color: #6500c7;
  border: 1px solid #6500c7;
}

.radio-color:hover {
  background-color: #402698;
  border-color: #402698;
}

.active {
  background-color: #402698;
  border-color: #402698;
}

.enterprise-group {
  display: none;
}

.margin-content {
  margin-top: 3rem;
}

.offer-link {
  display: block;
  width: 100%;
}

.card-offer {
  height: 150px;
}

.card-img {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 200px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.card-block {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  width: 100%;
}

.card-img-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.card-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card-horizontal-sm-up {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card-horizontal-md-up {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card-horizontal-lg-up {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.card-horizontal .card-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.card-horizontal .card-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - $card-img-width);
          flex: 0 0 calc(100% - $card-img-width);
}

.icon-in-link {
  bottom: -5px;
  right: 3px;
  position: relative;
}

/* CUSTOM */

.ais-search-box--reset {
  cursor: pointer;
  top: 5px;
  right: 5px;
  margin: 0;
  border: 0;
  padding: 0;
}

.ais-search-box--powered-by {
  display: inline-block;
  margin-left: 25px;
}

/* GENERAL */

#no-results {
  width: 1000px;
  margin: 0 auto;
}

#left-column {
  float: left;
  width: 23%;
}

#right-column {
  width: 74%;
  margin-left: 26%;
}

.clear:after {
  content: '';
  display: table;
  clear: both;
}

/* INPUT */

.input-container {
  position: relative;
  height: 80px;
  margin-top: 40px;
}

.input-container img {
  position: absolute;
  top: 9px;
  left: 0;
  float: left;
  max-width: 23%;
}

.search-input input,
.search-input input:focus {
  -webkit-transition: border-color .3s ease-in;
  transition: border-color .3s ease-in;
  outline: 0;
}

.search-input input:focus {
  border-color: #ed5565;
}

.search-input input::-webkit-input-placeholder,
.search-input input:-moz-placeholder,
.search-input input:-moz-placeholder,
.search-input input:-ms-input-placeholder {
  font-weight: 100;
  color: #999;
}

.search-input-icon {
  position: relative;
}

.search-input-icon:before {
  position: absolute;
  right: 0;
  bottom: 15px;
  width: 20px;
  height: 20px;
  content: '';
  cursor: default;
}

.search-input-icon.empty:before {
  cursor: pointer;
  background-image: url(/public/img/delete_icon.png);
}

/* HITS */

#hits {
  margin: 4px 0;
  padding: 10px 0;
  border-top: 2px solid #eee;
}

.hit {
  font-size: 0;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

.hit-name {
  margin: 0;
}

.hit-image {
  display: inline-block;
  width: 16%;
  text-align: center;
}

.hit-image img {
  max-width: 100%;
  max-height: 180px;
}

.hit-content {
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  width: 81%;
  margin-left: 3%;
  vertical-align: top;
}

.hit-stars {
  font-size: 17px;
  margin: 4px 0;
  color: #868686;
}

.hit-content .hit-price {
  float: right;
  margin-left: 20px;
  color: #ffffff;
  background: #383838;
  padding: 4px;
  border-radius: 3px;
}

.hit-content .hit-price,
.hit-content .hit-name {
  font-weight: normal;
  margin-top: 0;
}

.hit-content em {
  font-style: normal;
  color: #ed5565;
  border-bottom: solid 1px rgba(244, 107, 91, 0.5);
}

.hit-content p {
  font-size: 13px;
}

.hit-description em {
  color: inherit;
}

.hit-category-breadcrumb {
  margin: 5px 0 2px 0;
}

.hit-category-breadcrumb em {
  color: inherit;
}

.hit-content .hit-description {
  color: #868686;
  margin: 1px 0 10px 0;
  font-size: 14px;
}

/* SORT BY */

#sort-by-wrapper {
  font-weight: 300;
  position: relative;
  float: right;
  color: #999;
}

#sort-by select {
  font-size: 16px;
  padding-right: 14px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#sort-by:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  color: #000;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  pointer-events: none;
}

/* STATS */

#stats .ais-stats--time {
  font-size: 0.8em;
  color: #999;
}

/* FACETS */

.facet {
  margin-bottom: 24px;
  font-size: 14px;
  color: #000;
}

.facet h5 {
  margin: 0 0 6px;
  padding: 0 0 6px;
  text-transform: uppercase;
  border-bottom: 2px solid #eee;
}

.facet ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.facet li {
  margin-bottom: 3px;
}

.facet a:visited,
.facet a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Collapsable FACETS */

.ais-root__collapsible .ais-header h5:hover {
  border-color: #c5c5c5;
  -webkit-transition: border 500ms ease-out;
  transition: border 500ms ease-out;
}

.ais-root__collapsible.ais-root__collapsed .ais-header h5:hover {
  border-color: #333;
}

.ais-root__collapsible .ais-header h5:before {
  display: inline-block;
  font: normal normal normal 16px/1 FontAwesome;
  content: "\F106";
  float: right;
}

.ais-root__collapsible.ais-root__collapsed .ais-header h5:before {
  content: "\F107";
}

.ais-hierarchical-menu--list .ais-hierarchical-menu--item {
  margin: 3px 0;
}

.ais-hierarchical-menu--link:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\F105";
  padding: 0 5px 0 0;
}

/* NO RESULTS */

.no-results #pagination,
.no-results #sort-by,
.no-results #stats,
.no-results #facets {
  display: none;
}

#no-results-message {
  text-align: center;
}

#no-results-message p {
  font-size: 28px;
  font-weight: 100;
}

#no-results-message ul {
  list-style-type: none;
}

#no-results-message li {
  font-size: 12px;
  position: relative;
  display: inline-block;
  margin: 4px 2px;
  padding: 4px 28px 4px 8px;
  color: #999;
  border: 1px solid #ddd;
  border-radius: 12px;
}

#no-results-message li span.value {
  font-weight: bold;
  color: #000;
}

#no-results-message li a.remove img {
  position: absolute;
  top: 3px;
  right: 5px;
  float: right;
  width: 17px;
  height: 17px;
  opacity: .5;
}

#no-results-message li a.remove:hover img {
  opacity: 1;
}

a.clear-all {
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  margin: 10px;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
  border: 2px solid #ddd;
  border-radius: 4px;
}

a.clear-all:hover {
  -webkit-transition: border-color .3s ease-in;
  transition: border-color .3s ease-in;
  border-color: #999;
}

/* Toggle */

.ais-toggle--label {
  cursor: pointer;
}

