body {
    color: #083d77;

}


.container-presentation {

    display: block;

    margin-top: 15px;
    -webkit-box-shadow: 0px 2px 27px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 27px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 27px -4px rgba(0, 0, 0, 0.75);
    width: 800px;
    margin-left: auto;
    margin-right: auto;


}




.content {
    margin-bottom: 30px;
    width: 750px
}


h1 {
    justify-content: center;
    display: flex;
    padding-top: 15px
}

;


h2,
p {
    margin-top: 20px;

}

.video {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    width: auto;

}

span {
    font-weight: bold;
}

.button-to-search {
    height: auto;
    padding-bottom: 15px
}
