/* Ne met que des sélecteurs de classe ici
Il est égalemetn préférable de ne pas utiliser le style "ombre" de la page d'accueil et de la présentation */

/*----offres----*/

.row {
    margin-top: auto;
    margin-top: 50px;
}

.offres-card {
    margin: auto;
    flex: 1 1 auto;
}

.card-img {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 70%;
}

.card-title {
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.card-description {
    margin-left: 10px;
    color: #000000;
}

.name-firm {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 220px;
    text-align: center;
}


/*----affichage offres----*/

.affichage {
    background-color: rgba(0, 0, 255, 0.08);
    margin-top: 50px;
    margin-bottom: 50px;
    display: block
}

.link {
    color: #0000ff;
    text-align: center;
    margin-top: 50px;
}

.title {
    margin: auto;
}



.entreprise {
    width: 100%;
    margin-right: 20px;
}

.main {
    width: 100%;
    display: flex;

}

.photo {
    display: flex;
    margin: 50px;
    width: 200px;
    margin: auto;
    margin-top: 50px;
}

.description-entreprise {
    margin: 20px;
    margin-bottom: 50px;
}

.description-stage {
    background-color: rgba(0, 0, 255, 0.03);
    padding: 10px;
}


.stage {
    padding-left: 20px;
    padding-right: 20px;

}
