/* Ne met que des sélecteurs de classe ici
Il est égalemetn préférable de ne pas utiliser le style "ombre" de la page d'accueil et de la présentation */

.row {

    margin: 50px;
}

.row-margin {
    margin-right: 50px;
}

.offer-link {
    border: solid 2px;
    border-style: dashed;
}

.card-title {
    margin-right: 20px;
    margin-left: 20px;

}

.card-text {
    text-align: center;
    padding-bottom: 10px;

}

.affichage {
    
   background-color: rgba(0, 0, 255, 0.08);
    margin-top: 50px;
    margin-bottom: 50px;
  

}

.link {
    color: #0000ff;
    text-align: center;
    margin-top: 50px;
}

.title {
    margin: auto;
}

.entreprise {
    width: 100%;
}

main {
    width: 100%;
    display: flex;

}

.photo {
    display: flex;
    margin: 50px;
    width: 200px;
    margin: auto;
    margin-top: 50px;

}

.description-entreprise {
    margin: 20px;
}

.description-stage{
    background-color:rgba(0, 0, 255, 0.03);
    padding: 10px
}
