* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
.vertical-line{
  width: 1px;
  height: initial;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 0;
  border-left: 1px solid rgb(150, 150, 150);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1;
  color: #003CFF;
  font-size: 2.5rem;
}
h2 {
  color: #435099;
  font-size: 1.2rem;
}
p {
  font-size: 1.0rem;
}

.row {
  margin-right: initial;
  margin-left: initial;
}

@media screen and (max-width: $responsive-breakpoint) {
  .vertical-line {
    display: none;
  }
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background-color: initial;
}

main {
  position: relative;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  :focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(128, 0, 199, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(128, 0, 199, 0.25);
  }
}

footer {
  background: linear-gradient(to right, rgba(0, 60, 255, 0.5) 0%,rgba(85, 51, 144, 0.5) 100%);
  display: flex;
  width: 100%;
  padding: 1rem calc(1rem + 5%);
  margin: 0 auto;
  position: relative;
}

footer>div {
  width: 100%;
  margin: 2rem;
}

footer p,
footer h2,
footer a {
  color: hsl(236, 100%, 20%);
}

footer a {
  text-decoration: underline;
}

footer a:hover {
  color: #0056b3;
}

.location {
  max-width: 250px;
  min-width: 10rem;
}

.alert {
  width: 100%;
  padding: 1rem;
  background-color: #93d091;
  color: #0b3807;
  margin: 1rem auto;
  border-radius: 5px;
}

.margin-content {
  margin-top: 3rem;
}

.icon-in-link {
  bottom: -5px;
  right: 3px;
  position: relative;
}

@media screen and (max-device-width: $responsive-breakpoint) {
  footer {
    flex-direction: column;
  }
  footer>div {
    margin: 1rem;
  }
  .location {
    max-width: initial;
  }
}