.banner {
  margin-top: -35px;
  background-image: url("/img/banner.png");
  height: 47vh;
  position: relative;
  z-index: -10;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.13) 10%, white 100%);
  }
}
.register-bloc {
  padding: 15px;
  max-width: 350px;
  width: 40%;
}
.register-bloc input, .register-bloc textarea{
  color: #333333;
  border-radius: 9999px;
  height: 45px;
}
.register-bloc input::placeholder{
  color: #BBBBBB;
}
.register-bloc button{
  color: white;
  border-radius: 9999px;
  height: 50px;
  background: #003cff;
  background: linear-gradient(to right, #003cff 0%,#435099 55%,#553390 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003cff', endColorstr='#553390',GradientType=1 );
  transition: 0.5s all;
  width: 100%;
}
.register-bloc button:hover{
  transform: scale(1.04);
}
.register-bloc-container {
  position: sticky;
  top: calc(20% + 90px);
  transform: translateY(-33%);
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px -2px 33px -8px rgba(0,0,0,0.75);
}
.register-bloc h2 {
  line-height: 1.9rem;
  font-weight: 600;
  font-size: 2rem;
  background: -webkit-linear-gradient(right, #003CFF, #553390);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-text{
  padding:20px;
  width: 60%;
}
.home-text p {
  margin-bottom: 4rem;
}

.home-text h1 {
  background: -webkit-linear-gradient(right, #003CFF, #553390);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-home{
  width: 80%;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  margin-top: -50px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.comparison {
  border-radius: 7px;
  background-color: #ececec;
  margin-bottom: 20px;
}
.comparison h1{
  font-size: 1.5rem;
  text-align: center;
}

.comparison p {
  margin-top: 20px;
  font-size: 1rem;
  text-align: center;
}

.comparison img {
  width: 150px;
  margin: 0 auto;
  display: block;
}

.student,.boss{
  padding: 30px;
}

.button-to-search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35vh;
}

.button-to-search>a {
  color: white;
  background: aqua;
  padding: 15px 30px;
  border-radius: 9999px;
  background: linear-gradient(to right, #003cff 0%, #435099 55%, #553390 100%);
  transition: all 0.4s;
  
  &:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
  }

  i {
    margin-left: 0.5rem;
  }
}

.container-presentation {
  display: block;
  margin-top: 15px;
  box-shadow: 0px 2px 27px -4px rgba(0, 0, 0, 0.75);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.container-presentation .content {
  width: auto;
}

.container-presentation h1 {
  justify-content: center;
  display: flex;
  padding-top: 15px;
}
.container-presentation h2,
.container-presentation p {
  margin-top: 20px;
}

.video {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  width: auto;

}

.container-presentation span {
  font-weight: bold;
}

.container-presentation .button-to-search {
  height: auto;
  padding-bottom: 15px
}

@media screen and (max-width: $responsive-breakpoint) {
  .register-bloc-container {
    transform: translateY(0);
    box-shadow: none;
    position: static;
  }
  .home-text {
    width: 100%;
  }
  .register-bloc {
    max-width: initial;
    width: 100%;
  }
  .main-home {
    width: 100%;
    box-shadow: none;
  }
}