.navbar {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  top: 0;
  z-index: 1000;
}

.bg-light {
  background-color: #eef0fd !important;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}

.mr-auto {
  margin-right: auto !important;
}

.navbar-nav .button-register:hover, .navbar-light .navbar-nav .button-register:focus {
  color: white;
  transform: scale(1.04);
}
.navbar-nav .nav-link.button-register{
  padding: 7px 13px ;
  background: #003cff;
  background: linear-gradient(to right, #003cff 0%,#435099 55%,#553390 100%);
  border-radius: 9px;
  color: white;
  transition: 0.5s all;
}
.navbar-nav .nav-link.button-register:hover {
  color: #e2f1ff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);

  a {
    color: #2d00ff;
  }
}

.dropdown-item:active {
  text-decoration: none;
  background-color: #d0d0d0;
}

.navbar-brand {
  color: #404040;
  margin-left: 1rem;
  display: inline-flex;
  align-items: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;

  &>img {
    margin-right: inherit;
    filter: brightness(1.4) saturate(0.7);
  }
}

  nav {
    font-family: "Montserrat Light", "DejaVu Sans", sans-serif;
  }

.collapse:not(.show) {
  display: none;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
  .navbar-toggler {
    display: none;
  }
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-nav .nav-link {
    display: block;
    padding: 0.5rem 0.5rem;
  }
  .nav-link:last-of-type {
    margin-top: 0.3rem;
  }
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: 0.25rem;
}

.navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);

  &:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") no-repeat center center;
  background-size: 100% 100%;
}